.char__container{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.title__container{
 font-size: 1.5rem;
    text-align: center;
    padding: 1% 0;
   
}

.subtitle__container{
font-size: 2rem;
text-align: center;



}
.row{
    /* height: 25vh; */
    /* width: 75%; */
  
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-end;
    align-items: center;
    padding: 1rem 0; */
    display: flex;
    

}
.img__container{
/* display: flex;
justify-content: center;
background-color: aliceblue; */
}

.img__containerSelected{
    background-color: rgb(24, 238, 77);
}

.pet__container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px; */
    display: inline-block

}


.btn{
    /* background-color: #38c400;
    max-width: 40rem;
    width: 40rem;
    height: 6rem;
    font-size: 4rem;
    border-radius: 10%;
    border: none;
    margin-bottom: 3%;
    margin-top: 2%; */
}



.p_container{
max-width: 45%;
}
.snail__container{


}

.shell__container{
    

    
}

.swordfish__container{


}

.prego__container{


}

.seahorse__container{

}



.snail{
 
    
    /* max-height: 100%; */
    
}

.shell{
    
  
    /* height: 15%; */
    
    /* height: inherit; */
}

.swordfish{
      
    /* height: auto; */
    /* height: inherit; */
}

.prego{
     
    
    /* height: inherit; */
}

.seahorse{
    /* height: inherit; */
    
}

